<div class="card mt-5 mx-auto" style="width: 45rem; height: 30rem">
  <div class="card-body d-flex flex-column align-items-center">
    <h2 class="card-title mb-3 fw-bold">URL shortener</h2>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" class="block"
      style="width: 10rem" alt="card-logo">
  </div>
  <div class="card-body mx-auto">
    <form action="/shorten" class="d-flex flex-column align-items-center py-5" style="width: 40rem; height: 10rem"
      method="post">
      <input type="text" class="form-control bg-light mb-3" id="url" placeholder="Input URL here" name="url" required>
      <button type="submit" class="btn btn-outline-primary btn-lg">Shorten</button>
    </form>
  </div>
</div>