<div class="card mt-3 mx-auto" style="width: 45rem; height: 35rem">
  <div class="card-body mt-4 d-flex flex-column align-items-center">
    <h2 class="card-title mb-5 fw-bold">URL shortener</h2>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="block pb-5" style="width: 10rem" alt="card-logo">
  </div>
  <div class="card-body mx-5 pb-0">
    <h3 class="fw-bold">Success! Please use this link:</h3>
    <a href='./{{url}}' class="d-block fs-5 fw-bold" id="link"
      style="text-decoration:none">http://localhost:3000/{{url}}</a>
  </div>
  <div class="card-body mx-5 pt-0 d-flex flex-column align-items-center">
    <button type="submit" class="btn btn-primary btn-lg" id="copy-button">Copy</button>
  </div>
</div>